.banner {
	height: 400px;
	background-size: cover;	
	background-image: url("img/milkbg.jpg");
	opacity: 0.9;
	text-align: center;
	font-size: large;
	color: #19a0d0;
	position: relative;
}
#about-us{
	background-color: #19a0d0;
	color: #ffffff;
}
#contact-us {
	background-color: FireBrick;
	color: #ffffff;
}
.row {
	padding-bottom: 30px;
}
.banner-text{
	position: absolute;	
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 450px;
	height: 200px; 
	background-color: rgba(0,0,0,0.5);
	opacity: 1;
	-webkit-transition: opacity 0.6s;
	-moz-transition: opacity 0.6s;
	transition: opacity 0.6s;
}
.banner-text:hover{
    opacity: 1;      
}
.banner-text h1{
    color: white;
    display: inline-table;
  	vertical-align:middle;	
	font-size: 300%;
}
